<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="#/" style="margin-top:10px">MONEYPENNY</a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li ng-repeat="item in menu" class="{{item.active}}">
            <a href="{{item.url}}"><i class="icon-tasks"></i>&nbsp;&nbsp;{{item.name}}</a>
          </li>
        </ul>
        <ul class="nav pull-right">
          <li><a href="#/login" ng-click="logout()">Logga ut</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>